.Nav {
    box-sizing: border-box;
    width: 100%;
    max-height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 0em;
    margin-right: 0em;
    background-color: black;
    color: #fff;
}

.NavOuterDiv {
    max-height: 4em;
    width: inherit;
    vertical-align: middle;
    text-align: center;
}

.Tab {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
    margin-bottom: 0em;
    margin-right: 0em;
}

.TodoListItem {
    justify-content: space-between;
    text-align: left;
}

.choreSummaryItem {
    flex-direction: row;
    justify-content: space-between;
}

.todoListCompletedAccordianTitle {
    text-align: left;
}

.todoListCompletedAccordianTable {
    width: auto;
    margin: 0 !important;
    padding: 0 !important;
    margin-left: 10px !important;
}

.todoListCompletedItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.MuiBackdrop-root {
    background-color: white !important;
}

.rbc-event.rbc-event-allday {
    background-color: inherit;
}